
.erreur,
.success,
.edit_cat,
.add_cat {
  display: none;
}

.clearFloat {
  clear: both;
  float: none;
}

.headerSubmit {
  text-shadow: none !important;
  font-weight: bold !important;
  color: #3a8fc8;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  background: none;
  opacity: 0.7;
}

.headerSubmit:hover {
  opacity: 1;
  color: #48b0f7;
}

.noPadding {
  padding: 0;
}

.border {
  border: 1px solid rgba(230, 230, 230, 0.7);
}

.fullHeight {
  height: auto;
  min-height: 100%;
}

.newsBuilder {
  min-height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-text-size-adjust:none;
}

.newsBuilder a {
  color:#7cea1b; text-decoration:none
}

.newsBuilder p {
  padding:0 !important; margin:0 !important
}

.newsBuilder img {
  -ms-interpolation-mode: bicubic;
}

.newsBuilder .mcnPreviewText {
  display: none !important;
}

.newsBuilderBlock {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.noHover .newsBuilderBlock {
  cursor: default;
  border-bottom: none;
}

.newsBuilderAddBlock {
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.newsBuilderBlock .item,
.newsBuilderAddBlock .item {
}

.optionsBlock {
  width: 32% !important;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.addBlock,
.editBlock,
.upBlock,
.downBlock,
.deleteBlock {
  width: 52px;
  height: 52px;
  opacity: 0.4;
  background-color: rgba(230, 230, 230, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: .4s;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBlock {
  background-color: rgba(255, 0, 0, 1);
}

.editBlock {
  background-color: #10cfbd;
}

.upBlock,
.downBlock {
  background-color: #1E9CDC;
}

.upIcon,
.downIcon {
  font-size: 26px;
  color: #fff;
}

.editIcon {
  font-size: 28px;
  color: #fff;
  margin: 4px 0px 0px 6px;
}

.deleteIcon {
  font-size: 38px;
  color: #fff;
  margin-left: 4px;
}

.addIcon {
  font-size: 28px;
}

.noHover .newsBuilderBlock:hover {
  opacity: 1;
}

.newsBuilderBlock:hover {
  opacity: .6;
}

.newsBuilderAddBlock:hover .addBlock,
.newsBuilderBlock:hover .deleteBlock,
.newsBuilderBlock:hover .editBlock,
.newsBuilderBlock:hover .upBlock,
.newsBuilderBlock:hover .downBlock {
  opacity: 1;
}

.blockSelect {
  background-color: rgba(0, 0, 0, 0.94);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: scroll;
}

.closeBlockSelect{
  height: 60px;
  text-align: right;
}

.closeIcon {
  font-size: 28px;
  color: #fff;
  margin: 20px 20px;
  cursor: pointer;
}

.newsBlocks {
  min-height: 20px;

}

.choosenBlockContainer {
  display: flex;
  min-height: 80vh;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.newBlock {
  width: 140px;
  height: 140px;
  margin: 20px 45px 20px 45px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.newBlock i {
  font-size: 34px;
  margin: 8px 4px;
}

.titleBlock i {
  border-bottom: 2px solid #626262;
}

.blockIcon {
  width: 120px;
  height: 20px;
  margin: 12px 0px 8px 0px;
}

.blockIcon2 {
  width: 120px;
  height: 68px;
  margin: 12px 0px 8px 0px;
}

.choosenBlock {
  min-height: 100px;
  background-color: #fff;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: baseline;
}

.choosenBlockFooter .btn-complete {
  margin-right: 20px;
}

.linkButton {
  width: 60px;
  height: 32px;
  margin: 12px 0px 4px 0px;
}

/**.builderTextarea {
  width: 100%;
  min-height: 80px;
  margin: 10px auto;
  resize: none;
  border: none;
}**/

.blockInputImage,
.blockInputSummernote {
  margin: 10px;
  width: 100%;
}

.blockInputTexte,
.blockInputSelect {
  margin: 10px;
  width: 48%;
}

.choosenBlock .choosenBlockContent {
  width: 100%;
  height: 22px;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: left;
}

.choosenBlock .builderInput {
  width: 100%;
  height: 32px;
  /**margin: 10px auto 10px auto;**/
  border: 1px solid #e0e0e0;
  /**border-bottom: 1px solid #626262;**/
}

.builderInputFile {
  width: 100%;
  height: 40px;
  margin: 0px auto 20px auto;
}

.uploadcare--widget {
  display: block;
}
