
.erreur,
.success,
.edit_cat,
.add_cat {
  display: none;
}

.clearFloat {
  clear: both;
  float: none;
}

.headerSubmit {
  text-shadow: none !important;
  font-weight: bold !important;
  color: #3a8fc8;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  outline: 0 !important;
  text-decoration: none;
  border: none;
  background: none;
  opacity: 0.7;
}

.headerSubmit:hover {
  opacity: 1;
  color: #48b0f7;
}

.noPadding {
  padding: 0;
}

.border {
  border: 1px solid rgba(230, 230, 230, 0.7);
}

.fullHeight {
  height: auto;
  min-height: 100%;
}

.newsBuilder {
  max-width: 900px;
  min-height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-text-size-adjust:none;
}

.newsBuilder a {
  color:#7cea1b; text-decoration:none
}

.newsBuilder p {
  padding:0 !important; margin:0 !important
}

.newsBuilder img {
  -ms-interpolation-mode: bicubic;
}

.newsBuilder .mcnPreviewText {
  display: none !important;
}

.newsBuilder .link {
  opacity: 1;
}

.newsBuilderBlock {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.noHover .newsBuilderBlock {
  cursor: default;
  border-bottom: none;
}

.newsBuilderAddBlock {
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.newsBuilderBlock .item,
.newsBuilderAddBlock .item {
}

.optionsBlock {
  width: 32% !important;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.addBlock,
.editBlock,
.upBlock,
.downBlock,
.deleteBlock {
  width: 52px;
  height: 52px;
  opacity: 0.4;
  background-color: rgba(230, 230, 230, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: .4s;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBlock {
  background-color: rgba(255, 0, 0, 1);
}

.editBlock {
  background-color: #10cfbd;
}

.upBlock,
.downBlock {
  background-color: #1E9CDC;
}

.upIcon,
.downIcon {
  font-size: 26px;
  color: #fff;
}

.editIcon {
  font-size: 28px;
  color: #fff;
  margin: 2px 0px 0px 6px;
}

.deleteIcon {
  font-size: 38px;
  color: #fff;
  margin: -2px 0px 0px 4px;
}

.addIcon {
  font-size: 28px;
}

.noHover .newsBuilderBlock:hover {
  opacity: 1;
}

.newsBuilderBlock:hover {
  opacity: .6;
}

.newsBuilderAddBlock:hover .addBlock,
.newsBuilderBlock:hover .deleteBlock,
.newsBuilderBlock:hover .editBlock,
.newsBuilderBlock:hover .upBlock,
.newsBuilderBlock:hover .downBlock {
  opacity: 1;
}

.blockSelect {
  background-color: rgba(0, 0, 0, 0.94);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: scroll;
}

.closeBlockSelect{
  height: 60px;
  text-align: right;
}

.closeIcon {
  font-size: 28px;
  color: #fff;
  margin: 20px 20px;
  cursor: pointer;
}

.newsBlocks {
  min-height: 20px;

}

.choosenBlockContainer {
  display: flex;
  min-height: 80vh;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.newBlock {
  width: 140px;
  height: 140px;
  margin: 20px 45px 20px 45px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.newBlock i {
  font-size: 34px;
  margin: 8px 4px;
}

.titleBlock i {
  border-bottom: 2px solid #626262;
}

.blockIcon {
  width: 120px;
  height: 20px;
  margin: 40px 0px 26px 0px;
}

.blockIcon2 {
  width: 120px;
  height: 68px;
  margin: 12px 0px 8px 0px;
}

.choosenBlock {
  min-height: 100px;
  background-color: #fff;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: baseline;
}

.choosenBlockFooter .btn-complete {
  margin-right: 20px;
}

.linkButton {
  width: 60px;
  height: 32px;
  margin: 12px 0px 4px 0px;
}

/**.builderTextarea {
  width: 100%;
  min-height: 80px;
  margin: 10px auto;
  resize: none;
  border: none;
}**/

.blockInputImage,
.blockInputSummernote {
  margin: 10px;
  width: 100%;
}

.blockInputTexte,
.blockInputSelect {
  margin: 10px;
  width: 48%;
}

.choosenBlock .choosenBlockContent {
  width: 100%;
  height: 22px;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: left;
}

.choosenBlock .builderInput {
  width: 100%;
  height: 32px;
  /**margin: 10px auto 10px auto;**/
  border: 1px solid #e0e0e0;
  /**border-bottom: 1px solid #626262;**/
}

.builderInputFile {
  width: 100%;
  height: 40px;
  margin: 0px auto 20px auto;
}

.uploadcare--widget {
  display: block;
}

@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
  u + .body .gwfw { width: 100% !important; width: 100vw !important; }

  .m-shell { width: 100% !important; min-width: 100% !important; }

  .td { width: 100% !important; min-width: 100% !important; }

  .m-br-15 { height: 15px !important; }

  .m-td,
  .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }

  .m-block { display: block !important; }

  .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

  .column-top,
  .column { float: left !important; width: 100% !important; display: block !important; }

  .content-spacing { width: 15px !important; }

  .m-bg { display: block !important; width: 100% !important; height: auto !important; background-position: center center !important; background-size: cover !important; }

  .m-left { text-align: left !important; }
  .m-center { text-align: center !important; }
  .m-right { text-align: right !important; }

  .left { margin-right: auto !important; }
  .center { margin: 0 auto !important; }
  .right { margin-left: auto !important; }

  .h-auto { height: auto !important; }
  .w-auto { width: auto !important; }
  .w-full { width: 100% !important; }

  .plr-0 { padding-left: 0px !important; padding-right: 0px !important; }
  .plr-15 { padding-left: 15px !important; padding-right: 15px !important; }
  .plr-20 { padding-left: 20px !important; padding-right: 20px !important; }

  .pb-1 { padding-bottom: 1px !important; }
  .pb-15 { padding-bottom: 15px !important; }
  .pb-30 { padding-bottom: 30px !important; }

  .text-6 { font-size: 16px !important; line-height: 22px !important; }
  .text-7 { font-size: 24px !important; line-height: 36px !important; }
  .text-8 { font-size: 32px !important; line-height: 38px !important; }
  .text-9 { font-size: 15px !important; line-height: 21px !important; }

  .pt-0 { padding-top: 0 !important; }
}
